h1 {
    color: brown;
    align-content: center;
    text-align: left;
}

body {
    background-image: url("tiger.jpg");
    border-image-width: 0px;
    background-size: 1368px 1080px;
    background-repeat: no-repeat;
}

p {
    color: rebeccapurple;
    font-size: 32px;
}

p2 {
    color: snow;
    font-size: 25px;
}

h2 {
    font-size: 20px;
    text-align: center;
    color: wheat;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: black;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

textarea {
    border: solid;
    border-color: rgb(206, 13, 13);
    grid-auto-rows: min-content;
    resize: none;
    grid-auto-rows: 0%;
}