h1 {
    color: brown;
    align-content: center;
    text-align: center;
}

body {
    background-image: url("qAM1Rl.jpeg");
    border-image-width: 0px;
    background-size: 1368px 720px;
}

p {
    color: rebeccapurple;
    font-size: 32px;
}

p2 {
    color: snow;
    font-size: 25px;
}

h2 {
    font-size: 20px;
    text-align: center;
    color: wheat;
}

button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
}

textarea {
    border: solid;
    border-color: blueviolet;
    grid-auto-rows: min-content;
    resize: none;
    grid-auto-rows: 0%;
}